/* Colors */

$purple100: hsl(254, 88%, 90%);
$purple500: hsl(256, 67%, 59%);
$yellow100: hsl(31, 66%, 93%);
$yellow500: hsl(39, 100%, 71%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 7%);

/* Font and FSizes */

/* - Family: [DM Sans](https://fonts.google.com/specimen/DM+Sans)
- Weights: 400, 500

- Font size (paragraph): 1.125rem */

$dmsans: 'DM Sans';
$paragraph: 1.125rem;

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    font-family: $dmsans;
  }

  h1 {
    font-size: 2.75rem;
    font-weight: 500;
    line-height: 105%;
    color: $white;
    margin-bottom: 1rem;
  }

  h2 {
    letter-spacing: -1.1pt;
    line-height: 105%;
    font-size: calc(1.75rem + 1vw);

  }

  h3 {
    letter-spacing: -1.1pt;
    line-height: 105%;
    font-size: 1.75rem;
  }

  p {
    font-size: $paragraph;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  body {
    display: flex;
    justify-content: center;
    height: 100dvh;
    background-color: hsl(0, 0%, 96);
  }

  .grid {
    display: grid;
    margin: 4vw;
    width: 90vw;
    gap: 1.75rem;
    grid-template-areas:
     "social"
     "manage"
     "maintain"
     "schedule"
     "grow"
     "faster"
     "create"
     "write"
     ;

    .grid__1, .grid__2, .grid__3, .grid__4, .grid__5, .grid__6, .grid__7, .grid__8 {
      display: flex;
      flex-direction: column;
      border-radius: .75rem;
    }

    .grid__1 {
      background-color: $purple500;
      text-align: center;
      padding: 2.25rem;
      align-items: center;
      grid-area: social;

      span {
        color: $yellow500;
      }

      img {
        width: 70%;
        margin-bottom: .5rem;
      }

      p {
        color: $white;
      }


    }

    .grid__2 {
      background-color: $white;
      padding: 1rem;
      gap: .75rem;
      grid-area: manage;
    }

    .grid__3 {
      background-color: $yellow500;
      padding: 1rem;
      padding-bottom: 0;
      gap: .75rem;
      grid-area: maintain;


      img {
        width: 70%;
      }
    }

    .grid__4 {
      background-color: $purple100;
      padding: 1.75rem 1rem;
      text-align: center;
      gap: 1.5rem;
      grid-area: schedule;

      p {
        letter-spacing: -.3pt;
        font-weight: 600;
        line-height: 115%;
      }
    }

    .grid__5 {
      display: flex;
      background-color: $purple500;
      align-items: center;
      text-align: center;
      padding: 1.25rem 3rem;
      color: $white;
      gap: 2.5rem;
      grid-area: grow;

      img {
        width: 100%;
        overflow: hidden;
      }

      h2 {
        color: $white;
        font-weight: 500;
        line-height: 95%;
      }

    }


    .grid__6 {
      background-color: $white;
      gap: 1rem;
      padding: 1.5rem 1rem;
      grid-area: faster;

      h2 {
        font-size: 2.75rem;
        font-weight: 600;
      }

      p {
        font-weight: 600;
        letter-spacing: -.3pt;
      }

      img {
        width: 60%;
      }
    }

    .grid__7 {
      background-color: $yellow100;
      padding: 1.75rem 2rem;
      gap: 1.5rem;
      grid-area: create;

      img {
        width: 70%;
      }

      span {
        color: $purple500;
        font-style: italic;
      }
    }

    .grid__8 {
      background-color: $yellow500;
      gap: 1rem;
      padding: 1.5rem;
      gap: 1.5rem;
      grid-area: write;

      h2 {
        line-height: 90%;
      }

      img {
        width: 80%;
      }

    }
  
  }


  @media screen and (min-width: 33.75rem) {

    .grid {

    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "social create"
    "schedule maintain"
    "write grow"
    "faster manage"
    ; 

    }

    .grid__3 {

      img {
        width: 100% !important;
      }
    }

  }

    
    @media screen and (min-width: 62.5rem) {

    .grid {

    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-template-areas:
    "create social social schedule"
    "create social social schedule"
    "create social social schedule"
    "create social social schedule"
    "create manage maintain schedule"
    "write manage maintain schedule"
    "write manage maintain schedule"
    "write faster grow grow"
    "write faster grow grow"
    "write faster grow grow"
    ; 


    img {
      max-width: 150%;
    }

    }

    h1 {
      font-size: calc(2.5rem + 1.5vw);
    }

    h3 {
      font-size: calc(1.75rem + 0.3vw);
    }

    .grid__1, .grid__2, .grid__3, .grid__4, .grid__5, .grid__6, .grid__7, .grid__8 {
        height: 100%;
        justify-content: center;
    }

    .grid__1 {

      img {
        width: 40% !important;
      }

    }

    .grid__2 {
      
      gap: 1.75rem;
      padding: 1rem 2rem !important;
      overflow: hidden;

      img {
        width: 150% !important;
      }
      
    }

    .grid__3 {
      justify-content: flex-start;
      overflow: hidden;
      padding: 2rem !important;
      
    }

    .grid__2, .grid__3 {
      
      h2 {
        font-size: calc(1.4rem + 1vw);
      }
    }

    .grid__1, .grid__4, .grid__6 {
      p {
        font-size: calc(1.25rem + 0.05vw);
      }
    }


    .grid__4 {
      overflow: hidden;
      text-align: start !important;

      img {
        width: 150%;
      }

    }

    .grid__5 {
      flex-direction: row !important;

      h2 {
        text-align: start;
      }
    }

   .grid__3, .grid__7, .grid__8 {

      img {
        width: 100% !important;
      }
    }

    .grid__6 {
      padding: 1rem 2rem !important;
      h2 {
        font-size: calc(1.5rem + 2.25vw) !important;
      }

      img {
        width: 75% !important;
      }

    }
    .grid__8 {
      justify-content: space-around;
    }
  }